<!-- Fixed navbar -->
 <nav class="navbar navbar-default navbar-static-top">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="{% url 'lab-4:index' %}"><img src = "http://www.gifs.cc/home/home-animated-pastels.gif" style="width: 35px;height 35px; top: 10px;"></a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
         <!-- LINK MENUJU table, dan link menuju home#form -->
         <li><a href="{% url 'lab-4:index' %}#form"><img src ="https://freeiconshop.com/wp-content/uploads/edd/document-edit-flat.png" style="width: 35px;height 35px; top: 10px;"></a></li>

         <li><a href="{% url 'lab-4:result_table' %}"> <img src ="http://www.iconsplace.com/download/turquoise-message-512.gif" style="width: 35px;height 35px; top: 10px;"></a></li>

         <li><a class="nav-link" href="/lab-3"><img src= "http://www.iconsplace.com/download/turquoise-add-link-256.gif" style="width: 35px;height 35px; top: 10px;"></a></li>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </nav>
