<!-- templates/lab_5/partials/header.html -->
<nav>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-5:index' %}"><img src = "https://cdn3.iconfinder.com/data/icons/aami-flat-real-estate/64/real_estate-93-512.png" style="width: 40px;height 40px; top: 5px;"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-5:index' %}#input-list"><img src = " https://png.icons8.com/add-list/dotty/1600 " style="width: 40px;height 40px; top: 10px;"></a></li>
        <li><a href="{% url 'lab-5:index' %}#my-list"><img src =  "http://s3.amazonaws.com/libapps/accounts/61774/images/Sketch-Book-icon.png" style="width: 40px;height 40px; top: 10px;"></a></li>
        <li><a class="nav-link" href="/lab-6"><img src= "http://cdn.onlinewebfonts.com/svg/download_325088.png" style="width: 40px;height 40px; top: 10px;"></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
