.navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.container{
  background: #0dad88;
  background: -webkit-linear-gradient(to left, #ffe6e9, #0dad88);
  background: linear-gradient(to left, #ffe6e9, #0dad88);
}
