{% extends "lab_4/layout/base.html" %}
{% load staticfiles %}

    {% block content %}
    <h1 style="background-color: #ffb3b3"><center>Portofolio</h1></center>
    <hr/>

    <section>
      <p>
        <center><img src="https://i.pinimg.com/736x/83/8f/73/838f73c9c315cbc8dff90fce6a90a9b7--always-harry-potter-harry-potter-stuff.jpg" style="border-radius: 50%;width: 400px;height: 400px"></center>
      </p>
    </section>
    <hr/>

    <section name="bio">
        <h2 style="background-color: #ffb3b3"><center>Bio</h2></center>
        <p>
            {{content}}
        </p>
    </section>

    <section name="about_me">
        <h2 style="background-color: #ffb3b3"><center>List</h2></center>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2 style="background-color: #ffb3b3"><center>Send Message</h2></center>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    {% endblock %}
